@model BankSystem.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h2>User: @Model.FirstName @Model.LastName</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>Passport number</dt>
            <dd>@Model.PassportNum</dd>

            <dt>Personal identifier</dt>
            <dd>@Model.PersonalID</dd>

            <dt>Phone number</dt>
            <dd>@Model.PhoneNumber</dd>

            <dt>E-mail</dt>
            <dd>@Model.Email</dd>
        </dl>
    </div>
    <a asp-action="List" asp-controller="Client">Back to list</a>
</body>
</html>
